<nav class="navbar-brand">
    <div id="img1" href="/">
        <img src="/img/imagem-perguntas.jpg"  width="101%" height="205" alt="">
    </div>
    <a href="/" id="img2">
        <img src="/img/bitcoin-g27d2451bb_640.png" width="50px" height="50px" ><p>Home</p>
        
    </a>
    
</nav>